

body {
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;

}

header {
	height: 60px;
	position: fixed;
	background: #F56B2A;
	width: 100%;
	top: 0;
	left: 0;

}

   /* ------------------- OPEN NAV SECTION ---------------------------------------*/

nav {
	position: relative;


}


.logo {
	width: 160px;
	margin-left: 122px;			/* <----------------LOGO BON COIN ----------------*/
	margin-top: 5px;
}


/* ------------------- OPEN NAVBAR ---------------------------------------*/

.navbar {
position: inline-block;
margin-top: 0px;
width: 700px;
padding: 20px 300px;

}



.navbar li {
	display: inline;
	padding-top: 10px;
	font-size: 14px;
	padding: 10px;

}

.navbar a {
	text-decoration: none;
	color: white;
	font-weight: bold;	
}

.navbar a:hover {
	text-decoration: underline;
	
}

nav img {
	width: 180px;
	float: left;
	margin-top: 13px;
	margin-left: 70px;
}


/* ------------------- OPEN LOGIN BUTTON ---------------------------------------*/


.login {
	position: absolute;
	height: 40px;
	top: 10px;
	right: 140px;
	width: 160px;
	background-color: #F56B2A;
	color: white;
	border: 2px solid white;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bolder;


}

.login img  {
 	position: fixed;
	width: 15px;
	top: 8px;
	right: 20%;
				  
}

.login:hover img {
    background:#FFF;
    opacity: 0.5; 
 }


.login:hover {
	background-color: white;
	color: #F56B2A;
	font-size: bold;
}


h1 {
	font-size: 14px;
}

/* -----------------------ASIDE LEFT----------------------*/

h2 {
	font-size: 14px;
	margin-left: 35px;
}

h2 span {
	color: #F56B2A;
}

.asideleft {
	margin-top: 70px;
	width: 405px;
	margin-left: 100px;
	display: inline-block;
	float: left;
	font: white;

}




