

body {
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;

}

header {
	height: 60px;
	position: fixed;
	background: #F56B2A;
	width: 100%;
	top: 0;
	left: 0;

}

   /* ------------------- OPEN NAV SECTION ---------------------------------------*/

nav {
	position: relative;


}


.logo {
	width: 160px;
	margin-left: 122px;			/* <----------------LOGO BON COIN ----------------*/
	margin-top: 5px;
}


/* ------------------- OPEN NAVBAR ---------------------------------------*/

.navbar {

margin-top: 0px;
width: 700px;
padding: 20px 300px;

}



.navbar li {
	display: inline;
	padding-top: 10px;
	font-size: 14px;
	padding: 10px;

}

.navbar a {
	text-decoration: none;
	color: white;
	font-weight: bold;	
}

.navbar a:hover {
	text-decoration: underline;
	
}

nav img {
	width: 180px;
	float: left;
	margin-top: 13px;
	margin-left: 70px;
}


/* ------------------- OPEN LOGIN BUTTON ---------------------------------------*/


.login {
	position: absolute;
	height: 40px;
	top: 10px;
	right: 140px;
	width: 160px;
	background-color: #F56B2A;
	color: white;
	border: 2px solid white;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bolder;


}

.login img  {
 	position: fixed;
	width: 15px;
	top: 8px;
	right: 20%;
				  
}

.login:hover img {
    background:#FFF;
    opacity: 0.5; 
 }


.login:hover {
	background-color: white;
	color: #F56B2A;
	font-weight: bold;
}


h1 {
	font-size: 14px;
}



/* --------------------------------------OPEN ASIDE LEFT SECTION--------------------------------*/

h2 {
	font-size: 14px;
	margin-left: 35px;
}

h2 span {
	color: #F56B2A;
}

.asideleft {
	margin-top: 70px;
	width: 405px;
	margin-left: 100px;
	display: inline-block;
	float: left;
	font: white;

}

/* --------------OPEN 2 BUTTONS ASIDE LEFT--------*/


 .buttons-asideleft {
 	padding-top: 30px;
 	margin-left: 35px;
 }

 .buttons-asideleft button{

	font-size: 15px;
	font-weight: bold;

 }


.button1 {
	background-color: #4C94EF;       /* blue button*/

	border:none;
	border-radius: 5px;
	width: 340px;
	height: 40px;	
	font-size: 20px;
	color: white;

}

.button1:hover {

	
  opacity: 0.8;
  
   border:0; 

}


.button2 {
	
	background-color: white;
	border: 1px solid #4C94EF;
	border-radius: 5px;               /* white button*/
	color: #4C94EF;
	width: 340px;
	height: 40px;
	margin-top: 5%;	
	
}

.button2:hover {

	background-color: #AFEEEE;

}

/* -------------CLOSE 2 BUTTONS ASIDE LEFT--------*/


/*add pub on aside left*/

.pub {
 	width:280px;
 	margin-left: 90px;

 }

/* ------------- CLOSE ASIDE LEFT--------*/


/* -------------------------------------------- OPEN CONTENT MAP SECTION-------------------------*/
										
.contentmap {
	width: 438px;
	margin-top: 85px;
	margin-left: 40px;
	float: left;
}

/* ------------- CLOSE CONTENT MAP SECTION--------*/


/* ---------------------------------- OPEN ASIDE RIGHT SECTION-------------------------------*/

.asideright {
	display: inline-block;
	margin-top: 68px;
	
	
}
.asideright ul {	      /* Delete puce of ul + right align REGIONS */	
	text-align: right;
	list-style: none;


}

/* Change colors REGIONS ul */ 

.asideright ul li a {                  

	color: #336699;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;

}

/* Hover REGIONS */  

.asideright ul li a:hover {                 

	color: #F56B2A;
}


/*   open little article under the map */


article{
	width: 1066px;
	height: 60px;
	margin: auto;
}
article p {
	margin: 0 auto;
	font-size: 13px;

}

   /*---------------------------------- OPEN INDEX SECTION -------------------------------- */        


.index {
	position: static;
	display: block;
	height: 600px;
	background-color: #F2F2F2;
	font-size: 13px;

}
.index ul{
	list-style: none;

	
}

.index ul li a {
	color: #336699;
	text-decoration: none;
}

.index ul li{
     margin:5px 5px; 
}


/*  OPEN 4 columns in index SECTION */

.colonne1 {
	
	display: block;
	float: left;
	width: 150px;
	padding-left: 144px;		
}

.colonne2 {
	float: left;
	width: 150px;
	margin-left: 120px;
}


.colonne3 {
	float: left;
	width: 150px;
	padding-left: 100px;
}

.colonne4 {
	padding-top: 1px;
	margin-left: 900px;
}

/*  CLOSE 4 columns in index SECTION */



                      /*-----------------------------OPEN FOOTER------------------------- */


footer {
	background-color: #474747;
	height: 325px;

	
}

.links {
	
	padding-left: 140px;
	height: 70%;
	padding-top: 10px;

}
.links ul {
	list-style: none;
}

.links ul li a{
	
	color: white;
}

.col1{
	width: 250px;
	float: left;
}

.col2 {
	width: 250px;
	float: left;
	padding-left: 20px;
}

.col3 {
	width: 250px;
	float: left;
}

.col4 {
	width: 250px;
	float: left;
}

@media screen and (min-device-width: 220px) and (max-device-width: 768px) {

.pub   {
	display: none;
}

.buttons-asideleft {
 display: none;
 }
 h2 {
 	display: none;
 }

.login {
	display: none;

}



.navbar {
	display: none;
}

.asideright {
	display: none;
}

p {
	display: none;
}

footer {
	display: none;
}

.index {
	display: none;
}

}


@media screen and (min-device-width: 768px) and (max-device-width: 1280px){
.buttons-asideleft {
 display: none;
 }
 h2 {
 	display: none;
 }

.login {
	display: none;

}



.navbar {
	display: none;
}

.asideright {
	display: none;
}

p {
	display: none;
}

footer {
	display: none;
}

.index {
	display: none;
}

.pub   {
	display: none;
}

.login {
	display: none;
}
}